<html>
<head>
  <title>Login form</title>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

  <script>

        $( "input[name='postedby']" ).val("niranjan")
  </script>


</head>
<body>
    <div style="float:left;background-color:#111;color:#fff">
        <%= typeof disp.name!='undefined' ? disp.name : '' %> logged in
      
        
        <br>
        <a href="http://localhost:5000/">logout</a>
    </div>      
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
        
            <h1><span class="fa fa-sign-in"></span> Report a Disaster</h1>
            
         
            <!-- post disaster -->
            <form action="/adddisaster" method="POST" autocomplete="off">
                <br>
                
                <hr>
                <div class="form-group">
                        <label for="sel2">District:</label>
                        <select class="form-control" id="sel2" name="location" required>
                                <option>Achham</option>
                                <option>Arghakhanchi</option>
                                <option>Baglung</option>
                                <option>Baitadi</option>
                                <option>Bajhang</option>
                                <option>Bajura</option>
                                <option>Banke</option>
                                <option>Bara</option>
                                <option>Bardiya</option>
                                <option>Bhaktapur</option>
                                <option>Bhojpur</option>
                                <option>Chitwan</option>
                                <option>Dadeldhura</option>
                                <option>Dailekh</option>
                                <option>Dang</option>
                                <option>Darchula</option>
                                <option>Dhading</option>
                                <option>Dhankuta</option>
                                <option>Dhanusa</option>
                                <option>Dolakha</option>
                                <option>Dolpa</option>
                                <option>Doti</option>
                                <option>Gorkha</option>
                                <option>Gulmi</option>
                                <option>Humla</option>
                                <option>Ilam</option>
                                <option>Jajarkot</option>
                                <option>Jhapa</option>
                                <option>Jumla</option>
                                <option>Kailali</option>
                                <option>Kalikot</option>
                                <option>Kanchanpur</option>
                                <option>Kapilbastu</option>
                                <option>Kaski</option>
                                <option>Kathmandu</option>
                                <option>Kavrepalanchok</option>
                                <option>Khotang</option>
                                <option>Lalitpur</option>
                                <option>Lamjung</option>
                                <option>Mahottari</option>
                                <option>Makwanpur</option>
                                <option>Manag</option>
                                <option>Morang</option>
                                <option>Mugu</option>
                                <option>Mustang</option>
                                <option>Myagdi</option>
                                <option>Nawalparasi</option>
                                <option>Nawalparasi</option>
                                <option>Nuwakot</option>
                                <option>Okhaldhunga</option>
                                <option>Palpa</option>
                                <option>Panchthar</option>
                                <option>Parbat</option>
                                <option>Parsa</option>
                                <option>Pyuthan</option>
                                <option>Ramechhap</option>
                                <option>Rasuwa</option>
                                <option>Rautahat</option>
                                <option>Rolp</option>
                                <option>Rukum</option>
                                <option>Rupandehi</option>
                                <option>Rupandehi</option>
                                <option>Salyan</option>
                                <option>Sankhuwasabha</option>
                                <option>Saptari</option>
                                <option>Sarlahi</option>
                                <option>Sindhuli</option>
                                <option>Sindhupalchowk</option>
                                <option>Siraha</option>
                                <option>Solukhumbu</option>
                                <option>Sunsari</option>
                                <option>Surkhet</option>
                                <option>Syangja</option>
                                <option>Tanahun</option>
                                <option>Taplejung</option>
                                <option>Terathum</option>
                                <option>Udayapur</option>
    
                        </select>
                      </div>


    
                <div class="form-group">
                    <label>Type</label>
                    <div class="checkbox" name="type">
                        <label><input type="checkbox" name="earthquake" value="earthquake">Earthquake</label>
                      </div>
                <div class="checkbox" name="type">
                        <label><input type="checkbox" name="landslide" value="landslide">Landslide</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" name="flood" value="flood">Flood</label>
                      </div>
                      <div class="checkbox">
                            <label><input type="checkbox" name="wildfire" value="wildfire">Wildfire</label>
                      </div>
                      <div class="checkbox">
                            <label><input type="checkbox" name="drought" value="drought">Drought</label>
                     </div>
                     <div class="checkbox">
                            <label><input type="checkbox" name="earthquake" value="earthquake">Earthquake</label>
                     </div>

                    </div>  
                
                <div class="form-group">
                    <label>Number of Affected People</label>
                    <input type="number" class="form-control" name="numof" required>
                </div>
                <div class="form-group">
                    <label for="requirements">Requirements(csv recommended)</label>
                    <textarea class="form-control" rows="5" name="needs"></textarea>
                </div>
                
                <input style="display:none;" type="text" name="postedby" value=<%= disp.name %> >
            </hr>
            <button class="btn btn-success btn-block">Post</button>
            </form>
    
            
        
        </div>
        </div>
</body>

</html>